<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Continuous Retro Item Collection</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    </head>
    <body>
        <div style="width: 50%"><canvas id="pie-chart" width="600" height="400"></canvas></div>
    <table>
                    <tr>
                <td>
                    Date
                </td>
                <td>
                    Mood
                </td>
                <td>
                    Comment
                </td>
            </tr>
        {% for item in data %}

           <tr>
               <td> {{ item["x"] }} </td>
               <td> {{ item["y"] }} </td>
               <td> {{ labels[loop.index-1] }} </td>

           </tr>
        {% endfor %}
    </table>
    </body>

<script>

    new Chart(document.getElementById("pie-chart"), {
        type: 'scatter',
        data: {
            datasets: [{
                labels: {{labels | tojson}},
                data: {{data | tojson}}
            }]
        },
        options: {
            legend: {
                display: false
            },
            elements: {
                point: {
                    radius: 5,
                    backgroundColor: 'rgba(87, 178, 228, 0.5)'
                }
            },
            tooltips: {
                displayColors: false,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[tooltipItem.datasetIndex].labels[tooltipItem.index];
                    }
                }
            },
            title: {
                display: true,
                text: "Continuous Retro Item Collection"
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    scaleLabel: {
                          display: true,
                          labelString: "date"
                    }
                }],
                yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          stepSize: 1
                      },
                      scaleLabel: {
                          display: true,
                          labelString: "mood"
                      }
                }]
            }
        }
    });
</script>
